@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
    font-family: Montserrat;
    margin: 0;
    padding: 0;

}
/*#0C4160, #C3CEDA, #071330, #738FA7*/
body.dark-mode {
    background-color: #071330;
    color: #738FA7;
}

header {
    position: sticky;
    top: 0;
    padding: 1vw 1vh 1vw 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Montserrat;
    align-items: center;
    background-color: #0C4160;
    color: #C3CEDA;
    box-shadow: 0px 25px 40px 10px white;
}

.dark-mode header {
    box-shadow:  0px 25px 40px 10px #071330;
}

@media screen and (min-width: 701px) {
    .toggle-menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #website-name{
        font-size: 12px;
    }

    .sections {
        display: none;
    }

    .sections.show {
        display: block;
    }

    .theme-toggle {
        display: none;
    }

    .theme-toggle.show{
        display: flex;
        align-items: center;
    }

    .toggle-menu {
        border: 2px;
        background-color: inherit;
        color: inherit;
        font-size: 30px;
    }

}

#website-name {
    text-decoration: none;
    color: inherit;
}

.animate-dev {
    display: inline-block;
    animation: fade-in 2s infinite;
}

.alternate-text{
    visibility: hidden;
}

.alternate .original-text {
    color: red;
    text-transform: lowercase;
    letter-spacing: 0.11694em;
}

.alternate .alternate-text {
    visibility: visible;
}

@keyframes fade-in {
    0% {
        opacity: 1;
        text-shadow: 0 0 0;
    }
    80% {
        opacity: 1;
        text-shadow: 0 0 0;
        transform: matrix(1, 0, 0, 1, 0, 0);   
    }
    85% {
        opacity: 0.25;
        text-shadow: 4px 4px 1px rgba(0, 247, 255, 0.5);
        transform: matrix(1, 0, -1.5, 1, 0, 0);
    }
    90% {
        opacity: 0.5;
        text-shadow: 2px -2px 1px rgba(0, 255, 26, 0.5);
        transform: matrix(1, 0, 1.5, 1, 0, 0);
    }
    95% {
        opacity: 0.75;
        text-shadow: -4px -4px 1px rgba(255, 255, 0, 0.5);
        transform: matrix(1, 0, -1.5, 1, 0, 0);
    }
    100% {
        opacity: 0;
        text-shadow: 0 0 0;
    }  
}


#my-intro {
    animation: fade-in-left 1.5s;
}

@keyframes fade-in-left {
    from{
            opacity: 0; 
            transform: translateX(-50px);
    }
    to{
            opacity: 1;
            transform: translateX(0px);
    }
}

.sections ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sections li {
    float: left;
}

.sections a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    position: relative;
}

.sections a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%; /* Start the underline from the middle */
    width: 0; /* Initially, the underline has no width */
    height: 1px; /* Height of the underline */
    background-color:#C3CEDA ; /* Color of the underline */
    transition: width 0.3s ease, left 0.3s ease; /* Transition for width and left properties */
}

.sections a:hover::after {
    width: 100%; 
    left: 0; 
}

.theme-toggle input {
    display: none;
}

.toggle-label {
    display: block;
    position: relative;
    cursor: pointer;
}

.toggle-handle {

    display: inline-block;
    height: 26px;
    width: 52px;
    background-image: url("Images/day sky.jpeg");
    background-size: cover;
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid white;
}

.toggle-handle::before {
   
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    margin: auto;
    background-image: url("Images/sun.png");
    background-size: cover;
    transition: 0.4s;
    border-radius: 50%;
}

.theme-toggle input:checked + .toggle-label .toggle-handle {
    background-image: url("Images/night sky.jpeg");
}

.theme-toggle input:checked + .toggle-label .toggle-handle:before {
    background-image: url("Images/moon.png");
    transform: translateX(26px);
}

#my-intro {
    padding: 25px 15vw 25px 15vw;
    line-height: 3;
}


.pdf-container {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.download-resume-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: background-size 0.3s;
}

.download-resume-button img {
    width: 40px;
    height: 40px;
}

.download-resume-button:hover {
    background-color: #D3D3D3;
}

.connect-container {
    padding: 25px 5vw 25px 5vw;
    text-align: center;
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dark-mode #contact-form {
    border: 2px solid white;
    border-radius: 5px;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact-form input, #contact-form textarea {
    font-family: inherit;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    color: #0C4160;
}

.dark-mode #contact-form input,.dark-mode #contact-form textarea {
    font-family: inherit;
    text-align: center;
    border-radius: 5px;
    color: #C3CEDA;
    background-color: #0C4160;
    border: 1px solid #738FA7;
}

.form-buttons {
    font-family: inherit;
    border: 1px solid #0C4160;
    border-radius: 5px;
    background-color: #738FA7;
    color: white;
}

.dark-mode .form-buttons {
    font-family: inherit;
    border: 1px solid white;
    border-radius: 5px;
    background-color:#738FA7;
    color: #071330;
}

.form-container input[type="text"][name="subject"] {
    width: 80%;
}

.form-container textarea[name="message"] {
    width: 80%;
    height: auto;
    resize: none; /* Disable user resizing */
    overflow: hidden; /* Hide vertical scrollbar */
}

#form-status {
    font-size: .75em;
}